
.dropdown-menu {
    margin-top: 0;
}
.navbar .nav-item:not(:last-child) {
    margin-right: 35px;
}

.dropdown-toggle::after {
    transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
}

#main-nav {
    margin: 40px 0 0 auto;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: auto;
    border-radius: 7px;
    background-color: #0e8805;
    text-align: center;
}
.navbar .nav-item {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.nav {
    display: inline-block;
}

.navbar .nav-item a {
    color: #f2f2f2;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 14px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.navbar .nav-item:hover {
    cursor: pointer;
}

.navbar .nav-item a:hover,
.navbar .nav-item:hover {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px 0 15px 0;
    color: rgb(0, 83, 115) !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.navbar .nav-item.active {
    background-color: #4CAF50;
    color: white;
}

.navbar .nav-item.active a {
    background-color: #4CAF50;
    color: white;
}

.navbar .dropdown-menu {
    z-index: 999;
    background-color: #0e8805;
    border-radius: 7px;
    border: 1px solid black;
    padding: 0;
}

.navbar .nav-item a:hover {
    color: #009902;
}
.navbar-nav {
     display: table;
     width: 100%;
     margin: 0;
 }
.navbar-nav > li {
    float: none;
    display: table-cell;
    text-align: center;
}

/* these next two declaratives make the dropdown on hover magic happen */
.dropdown:hover>.dropdown-menu {
    display: block;
}
.dropdown>.dropdown-toggle:active {
    /* Without this, clicking will make it sticky */
    pointer-events: none;
}
