<div class="content content-follow-on">
    <p>Thanks for verifying your email. Please change your password below.</p>

    {% include 'common/notice.twig' with { notice: notice } %}
    {{ form|raw }}
</div>