<div class="content content-follow-on">
    <p>
        <strong>Forgot your username?</strong>
        <br />
        Search for it by the email you registered with <a href="/profile.php">here.</a> If you cannot find it email
        the moderator team at {{ moderator_email }} and they will help you get back into your account.
        <strong>Do not make a new account.</strong>
    </p>

    <p>
        <strong>Forgot your password?</strong>
        <br />
        Enter your username below and an e-mail will be sent to the email you registered containing an
        activation link that will set a new password. If you no longer have access to that email account email the moderator team at {{ moderator_email }}
    </p>

    {% include 'common/notice.twig' with { notice: notice } %}
    {{ form|raw }}
</div>