<div class="content content-follow-on">

<div class="login">
    {% include 'common/notice.twig' with { notice: notice } %}
    {{ login_form|raw }}

    <p><a href="/users/forgot" class="light">Forgot your username or password?</a></p>
    <p><a href="/users/register" class="light">Not a member? Register!</a></p>
</div>
</div>