<div class="content content-follow-on">

<div class="settings">
    <div class="settings">
        <p>This page allows you to update your profile settings. Your email address will never be spammed or given out, and is only used
            by the moderator team to contact you. Please ensure your email is updated so that the moderators can contact you.</p>

        <p>If you select "no" for "Hide email address" your email will be displayed to other site users in an image file to protect you from bots.
            If you leave the default of "yes" it is only visible to moderators.</p>
    </div>
    {% include 'pages/users/_settings_form.twig' with { user: user } %}
</div>

</div>