<div class="content-notice">
    <p class="notice">
        <br />
        You are blocked from joining, rejoining, or creating new games by the moderators for {{ remaining_time }}
        for the following reason:
        <br />
        {{ reason }}
        <br />
        Contact the moderators at {{ moderator_email }} for help. If you attempt to get around this temp ban
        by making a new account your accounts will be banned with no chance for appeal.
        <br />
        <br />
    </p>
</div>