<div class="content-notice">
    <p class="notice">
        <br />
        You are blocked from joining, rejoining, or creating new games for {{ remaining_time }}
        because you were too unreliable. Contact the moderators at {{ moderator_email }} if you need help.
        <br />
        <br />
    </p>
</div>