<p>
    Change the maximum number of minutes that a phase lasts. The time is in minutes (5 minutes to 10 days = 5-14400).
    Also the next process time is reset to the new phase length.
</p>

{{ fields.game_id|raw }}
{{ fields.phase_length|raw }}
