<p>Change a game's messaging settings, e.g. to convert from gunboat to public-only or all messages allowed.</p>

<p>{{ game.name }} is currently using the "{{ game.pressType }}" press type.</p>

{{ fields.game_id|raw }}
{{ fields.press_type_id|raw }}
