<p>
    Force a user into Civil Disorder for game "{{ game.name }}".<br />
    Forced CDs do not count against the player's RR. <br />
    If the game has not started yet the user will be removed from the game entirely, and if they were the only user in the game, the game will be cancelled.
</p>

{{ fields.game_id|raw }}
{{ fields.user_id|raw }}