{{ fields.game_id|raw }}

<p>Flips a game's paused status; if it's paused it will be un-paused, otherwise it will be paused.</p>

<p>If you are using this tool on a phone navigate away from this page after using or an auto refresh will cause
    accidental toggles.</p>