<p>You can use this link to get a new password generated:</p>

<ul>
    <li><a href="{{ url }}">{{ url }}</a></li>
</ul>

<p>If you have any further problems contact the moderator team at {{ moderator_email }}.</p>
