<span class="memberUnitCount">
    <span class="memberSCCount">
        <em>{{ supplyCenterCount }}</em> supply-centers,
        <em class="{{ unitCountCssClass }}">{{ unitCount }} units</em>
    </span>
</span>