<p>Change a game's messaging settings, e.g. to convert from gunboat to public-only or all messages allowed.</p>

<p>{{ game.name }} is currently using the "{{ game.pressType }}" press type.</p>

<div class="form-group">
    <label for="admin-game-change-press-type-id" class="col-form-label">Press Type:</label>
    <select name="user_id" class="form-control" id="admin-game-change-press-type-id">
        {% for press_type in press_types %}
            <option value="{{ press_type.value }}"{% if press_type.selected %} selected="selected"{% endif %}>{{ press_type.text }}</option>
        {% endfor %}
    </select>
</div>

