<p>Add a password to a private game. Only people with this password can join.</p>

<div class="form-group">
    <label for="admin-game-privatize-password" class="col-form-label">Password:</label>
    <input type="password" class="form-control" id="admin-game-privatize-password" />
</div>

