<p>Flips a game's paused status; if it's paused it\'s unpaused, otherwise it's paused.</p>

<p>If you are using this tool on a phone navigate away from this page after using or an auto refresh will cause
    accidental toggles.</p>