<div class="content">
<div class="gamelistings-tabsNew">
    {% if current_user.isAuthenticated() %}
    <a title="Active games which you have joined" href="/games/mine" class="{% if current == 'mine' %}gamelistings-tabsNewActive{% endif %}">
        My Games ({{ mine }})
    </a>
    {% endif %}
    <a title="Games which haven't yet started" href="/games/search/new" class="{% if current == 'new' %}gamelistings-tabsNewActive{% endif %}">
        New ({{ new }})
    </a>
    <a title="Public games which have open spaces" href="/gamelistings.php?gamelistType=open" class="{% if current == 'open' %}gamelistings-tabsNewActive{% endif %}">
        Open Positions ({{ open }})
    </a>
    <a title="Games which are going on now" href="/gamelistings.php?gamelistType=active" class="{% if current == 'active' %}gamelistings-tabsNewActive{% endif %}">
        Active ({{ active }})
    </a>
    <a title="Games which have ended" href="/gamelistings.php?gamelistType=finished" class="{% if current == 'finished' %}gamelistings-tabsNewActive{% endif %}">
        Finished
    </a>
    <a title="The full game listing search panel" href="/gamelistings.php?gamelistType=search" class="{% if current == 'search' %}gamelistings-tabsNewActive{% endif %}">
        Search
    </a>
</div>
</div>