{{ tabs|raw }}

<div class="content">
    {{ search_form|raw }}

    <hr />

    {% if games is empty %}
        <p>
            No games found with current search.
        </p>
    {% else %}
        {% if total_pages > 1 %}{{ pagination|raw }}{% endif %}

        <div class="gamesList">
            {% for game in games %}
                {{ game.getGamePanel().summary()|raw }}
                <br /><hr /><br />
            {% endfor %}
        </div>
    {% endif %}
</div>