<div class="content-bare content-board-header content-title-header">
    <div class="pageTitle barAlt1">Create a new game</div>
    <div class="pageDescription">Start a new customized game of Diplomacy.</div>
</div>
<div class="content content-follow-on">
    {#<p><a href="/botgamecreate.php">Play A Game Against Bots</a></p> #}

    {{ form|raw }}
</div>
