version: 2.1

#################################################################################
# Executors
#################################################################################
executors:
  php:
    working_directory: ~/repo
    docker:
      - image: circleci/php:7.4-fpm
        environment:
          MYSQL_HOST: 127.0.0.1
          MYSQL_ROOT_PASSWORD: password
          APP_ENV: test

#################################################################################
# Commands
#################################################################################
commands:
  setup:
    steps:
      - add_ssh_keys
      - checkout
      - run:
          name: Install things we need
          command: |
            sudo apt-get update
            sudo apt-get install -y libzip-dev
            sudo apt-get install -y zlib1g-dev libicu-dev g++
            sudo apt-get install default-mysql-client
            sudo apt-get -y install default-mysql-server
      - run:
          name: Install PHP extensions
          command: |
            sudo docker-php-ext-configure intl
            sudo docker-php-ext-install intl zip pdo_mysql
      - run:
          name: Fix MySQL socket config
          command: |
            sudo sh -c "echo 'pdo_mysql.default_socket=/var/run/mysqld/mysqld.sock' > /usr/local/etc/php/conf.d/pdo.ini"
      - run:
          name: Start database server
          command: |
            sudo service mysql start
            sleep 2
            ps aux | grep mysql
      - run:
          name: Create non-admin user
          command: |
            sudo mysql -u root -ppassword -e "CREATE user webdiplomacy IDENTIFIED BY 'magic';"
      - run:
          name: Copy .env
          command: |
            cp ~/repo/.env.circleci ~/repo/.env
      - run:
          name: Copy config
          command: |
            cp ~/repo/config.circleci.php ~/repo/config.php
  composer-install:
    steps:
      - run:
          name: Update composer
          command: |
            sudo composer self-update
      - restore_cache:
          keys:
            - composer-v1-{{ checksum "composer.lock" }}
            - composer-v1-
      - run: composer install --ignore-platform-reqs
      - save_cache:
          key: composer-v1-{{ checksum "composer.lock" }}
          paths:
            - vendor
  create-database:
    steps:
      - run:
          name: Create database
          command: |
            sudo mysql -u root -ppassword -e "CREATE DATABASE webdiplomacy_test;"

#################################################################################
# Jobs
#################################################################################
jobs:
  test:
    executor: php
    steps:
      - setup
      - composer-install
      - create-database
#      - run: php artisan key:generate
#      - run: php artisan migrate
      - run: php vendor/bin/phpunit
#      - run: php vendor/bin/phpcbf --standard=ruleset.xml app/
#      - run: php vendor/bin/phpcs --standard=ruleset.xml app/

#################################################################################
# Workflows
#################################################################################
workflows:
  version: 2
  full:
    jobs:
      - test:
          filters:
            branches:
              ignore: master