version: 2.1

#################################################################################
# Executors
#################################################################################
executors:
  php:
    working_directory: ~/repo
    docker:
      - image: circleci/php:7.2-stretch-node-browsers
        environment:
          MYSQL_HOST: 127.0.0.1
          MYSQL_ROOT_PASSWORD: password
          APP_ENV: test

#################################################################################
# Commands
#################################################################################
commands:
  setup:
    steps:
      - add_ssh_keys
      - checkout
      - run:
          name: Install things we need
          command: |
            sudo apt-get update
            sudo apt-get install -y libzip-dev
            sudo apt-get install -y zlib1g-dev libicu-dev g++
            sudo apt-get install mysql-client
            sudo apt-get -y install mysql-server
      - run:
          name: Install PHP extensions
          command: |
            sudo docker-php-ext-install zip
            sudo docker-php-ext-configure intl
            sudo docker-php-ext-install intl
            sudo docker-php-ext-install pdo_mysql
      - run:
          name: Fix MySQL socket config
          command: |
            sudo sh -c "echo 'pdo_mysql.default_socket=/var/run/mysqld/mysqld.sock' > /usr/local/etc/php/conf.d/pdo.ini"
      - run:
          name: Start database server
          command: |
            sudo service mysql start
            sleep 2
            ps aux | grep mysql
      - run:
          name: Create non-admin user
          command: |
            sudo mysql -u root -e "CREATE user myuser IDENTIFIED BY 'magic';"
      - run: sudo composer self-update

#################################################################################
# Jobs
#################################################################################
jobs:
  test:
    executor: php
    steps:
      - setup
      - restore_cache:
          keys:
            - composer-v1-{{ checksum "composer.lock" }}
            - composer-v1-
      - run: composer install --dev --ignore-platform-reqs
      - save_cache:
          key: composer-v1-{{ checksum "composer.lock" }}
          paths:
            - vendor
      - run:
          name: Create database
          command: mysql -h 127.0.0.1 -u root -pmagic -e "create database webdiplomacy;"
#      - run: cp .env.circle .env
#      - run: php artisan key:generate
#      - run: php artisan migrate
      - run: php vendor/bin/phpunit
#      - run: php vendor/bin/phpcbf --standard=ruleset.xml app/
#      - run: php vendor/bin/phpcs --standard=ruleset.xml app/



workflows:
  version: 2
  full:
    jobs:
      - test:
          filters:
            branches:
              ignore: master