<div id="footer">
    {{ stats|raw }}
    <br />
    <br />
    webDiplomacy version <strong>{{ webdiplomacy_version }}</strong>
    <br />
    <br />

    <a href="http://github.com/splittingred/webDiplomacy" class="light">GitHub Project</a> |
    <a href="http://github.com/splittingred/webDiplomacy/issues" class="light">Bug Reports</a> | <a href="mailto:{{ moderator_email }}" class="light">Moderator Email</a> |
    <a href="/contactUsDirect.php" class="light">Contact Us Directly</a>

    <p>&nbsp;</p>
</div>
{{ footer_scripts|raw }}
</body>
</html>