{#
    Displays the colored, horizontal bar with distributions of SC counts for each country.
    For active games only.
#}
<table class="occupationBarTable">
    <tr>
    {% for member in members %}
        <td class="occupationBar{{ member.country_id }} {{ member.first }}" style="width:{{ member.width }}%"></td>
    {% endfor %}
    </tr>
</table>