<div class="content content-follow-on">
    <div class="boardHeader">{{ game.contentHeader|raw }}</div>
</div>
<div class="content content-follow-on">
    <p><a href="/board.php?gameID={{ game.id }}" class="light">&lt; Return</a></p>
