<div class="homeHeader">Defeated games</div>
<div class="hr"></div>
{% if my_defeats is empty %}
    <p class="notice"> You are not defeated in any active games, good job!</p>
{% else %}
    {% for game in my_defeats %}
        {{ game.getSummary()|raw }}
    {% endfor %}
{% endif %}