<div class="homeHeader">
    My games
    <a href="/games/mine">{% include 'common/link.twig' %}</a>
</div>
<div class="hr"></div>
{% if games is empty %}
<div class="bottomborder">
    <p class="notice">You've not joined any games!
        <br />
        Access the <a href="/games/new">Games</a>
        link above to find games you can join, or start a
        <a href="/gamecreate.php">New game</a> yourself.
    </p>
</div>
{% else %}
    {% for gameRecord in games %}
        {{ component('Games.HomePanel', { game: gameRecord.game, currentMember: gameRecord.currentMember })|raw }}
    {% endfor %}
{% endif %}
