<div class="homeHeader">Defeated games</div>
<div class="hr"></div>
{% if games is empty %}
    <p class="notice"> You are not defeated in any active games, good job!</p>
{% else %}
    {% for gameRecord in games %}
        {{ component('Games.HomePanel', { game: gameRecord.game, currentMember: gameRecord.currentMember })|raw }}
    {% endfor %}
{% endif %}