<div class="content content-follow-on">
    <p style="text-align: center;">
        <img src="/images/startmap.png" alt="The map" title="A webDiplomacy map" />
    </p>
    <div class="introToDiplomacy_show">
        <p class="welcome">
            <em>
                "Luck plays no part in Diplomacy. Cunning and
                cleverness, honesty and perfectly-timed betrayal are the tools needed to
                outwit your fellow players. The most skillful negotiator will climb to
                victory over the backs of both enemies and friends.<br />
                <br />

                Who do you trust?"<br />
                (<a href="https://avalonhill.wizards.com/games/diplomacy">Avalon Hill</a>)
            </em>
        </p>
    </div>
</div>