<div class="hr"></div>
<div class="homeHeader">
    {{ title }}
    <a href="/tournaments.php?tab=Participating">{% include 'common/link.twig' %}</a></div>
</div>
<div class="hr"></div>

{% for tournament in tournaments %}
<div class="gamePanelHome">
    <h3 class="tournamentCenter">{{ tournament.name }}</h3>
    <div class= "tournamentCenter">
        {% if tournament.isRunning() %}
            <a class="tournamentCenter" href="/tournaments/{{ tournament.id }}">Scoring and Participants</a>
            <br />
            {% if tournament.isRegistrationComplete() %}
                <br />
                <a class="tournamentCenter" href="/games/search?tournament_id={{ tournament.id }}">Tournament Games</a>
                <br />
            {% endif %}
        {% endif %}
    <br />
</div>
{% endfor %}