<strong>Archive:</strong>
<a href="/games/{{ id }}/orders">Orders</a>
- <a href="/board.php?gameID={{ id }}&amp;viewArchive=Maps">Maps</a>
- <a href="/board.php?gameID={{ id }}&amp;viewArchive=Messages">Messages</a>