<div id="navSubMenu" class="clickable nav-tab">Search ▼
    <div id="nav-drop">
        <a href="/profile.php">Find User</a>
        <a href="/games/search">Game Search</a>
        <a href="/detailedSearch.php" title="advanced search of users and games">Advanced Search</a>
    </div>
</div>
<div id="navSubMenu" class="clickable nav-tab">Games ▼
    <div id="nav-drop">
        <a href="/games/new" title="Game listings; a searchable list of the games on this server">New Games</a>
        <a href="/games/open" title="Open positions dropped by other players, free to claim">Open Positions</a>
        <a href="/gamecreate.php" title="Start up a new game">Create a New Game</a>
        <a href="/tournaments.php" title="Information about tournaments on webDiplomacy">Tournaments</a>
        <a href="/stats/hall-of-fame" title="Information about tournaments on webDiplomacy">Hall of Fame</a>
    </div>
</div>
<div id="navSubMenu" class="clickable nav-tab">Account ▼
    <div id="nav-drop">
        <a href="/users/settings" title="Change your user specific settings">Site Settings</a>
    </div>
</div>
<div id="navSubMenu" class="clickable nav-tab">Help ▼
    <div id="nav-drop">
        <a href="/help/rules">Site Rules</a>
        <a href="/help/faq" title="Frequently Asked Questions">FAQ</a>
        <a href="/intro" title="Intro to Diplomacy">Diplomacy Intro</a>
        <a href="/help/points" title="Points and Scoring Systems">Points/Scoring</a>
        <a href="/variants/list" title="Active webDiplomacy variants">Variants</a>
        <a href="/help" title="Site information; guides, stats, links">More Info</a>
        <a href="/help/contact-direct">Contact Us</a>
        <a href="/help/donations">Donate</a>
    </div>
</div>
{% if is_admin or is_moderator %}
<div id="navSubMenu" class="clickable nav-tab">Mods ▼
    <div id="nav-drop">
        <a href="/admincp.php">Admin CP</a>
        <a href="/admincp.php?tab=multi-accounts">Multi-Finder</a>
        <a href="/admincp.php?tab=chat-logs">Pull Press</a>
        <a href="/admin/logs">Admin Logs</a>
        <a href="/admincp.php?tab=access-logs">Access Logs</a>
        <a href="/profile.php">Find User</a>
    </div>
</div>
{% endif %}