<ul class="nav navbar-nav">
    <li class="nav-item">
        <a class="nav-link nav-tab" href="/" title="See what's happening">Home</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="menu-search" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search</a>
        <div class="dropdown-menu" aria-labelledby="menu-search">
            <a class="dropdown-item" href="/profile.php">Find User</a>
            <a class="dropdown-item" href="/games/search">Game Search</a>
            <a class="dropdown-item" href="/detailedSearch.php" title="advanced search of users and games">Advanced Search</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="menu-games" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Games</a>
        <div class="dropdown-menu" aria-labelledby="menu-games">
            <a class="dropdown-item" href="/games/new" title="Game listings; a searchable list of the games on this server">New Games</a>
            <a class="dropdown-item" href="/games/open" title="Open positions dropped by other players, free to claim">Open Positions</a>
            <a class="dropdown-item" href="/gamecreate.php" title="Start up a new game">Create a New Game</a>
            <a class="dropdown-item" href="/tournaments.php" title="Information about tournaments on webDiplomacy">Tournaments</a>
            <a class="dropdown-item" href="/stats/hall-of-fame" title="Information about tournaments on webDiplomacy">Hall of Fame</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="menu-account" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
        <div class="dropdown-menu" aria-labelledby="menu-account">
            <a class="dropdown-item" href="/users/settings" title="Change your user specific settings">Site Settings</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="menu-help" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Help</a>
        <div class="dropdown-menu" aria-labelledby="menu-help">
            <a class="dropdown-item" href="/help/rules">Site Rules</a>
            <a class="dropdown-item" href="/help/faq" title="Frequently Asked Questions">FAQ</a>
            <a class="dropdown-item" href="/intro" title="Intro to Diplomacy">Diplomacy Intro</a>
            <a class="dropdown-item" href="/help/points" title="Points and Scoring Systems">Points/Scoring</a>
            <a class="dropdown-item" href="/variants/list" title="Active webDiplomacy variants">Variants</a>
            <a class="dropdown-item" href="/help" title="Site information; guides, stats, links">More Info</a>
            <a class="dropdown-item" href="/help/contact-direct">Contact Us</a>
            <a class="dropdown-item" href="/help/donations">Donate</a>
        </div>
    </li>
    {% if is_admin or is_moderator %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="menu-mods" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mods</a>
        <div class="dropdown-menu" aria-labelledby="menu-mods">
            <a class="dropdown-item" href="/admincp.php">Admin CP</a>
            <a class="dropdown-item" href="/admincp.php?tab=multi-accounts">Multi-Finder</a>
            <a class="dropdown-item" href="/admincp.php?tab=chat-logs">Pull Press</a>
            <a class="dropdown-item" href="/admin/logs">Admin Logs</a>
            <a class="dropdown-item" href="/admincp.php?tab=access-logs">Access Logs</a>
            <a class="dropdown-item" href="/profile.php">Find User</a>
        </div>
    </li>
    {% endif %}
</ul>