<div class="nav-tab">
    <a href="/logon.php" title="Log onto webDiplomacy using an existing user account">Log on</a>
</div>
<div class="nav-tab">
    <a href="/register.php" title="Make a new user account">Register</a>
</div>
<div id="navSubMenu" class = "clickable nav-tab">Help ▼
    <div id="nav-drop">
        <a href="/help/rules">Site Rules</a>
        <a href="/help/faq" title="Frequently Asked Questions">FAQ</a>
        <a href="/intro.php" title="Intro to Diplomacy">Diplomacy Intro</a>
        <a href="/help/points" title="Points and Scoring Systems">Points/Scoring</a>
        <a href="/variants.php" title="Active webDiplomacy variants">Variants</a>
        <a href="/help.php" title="Site information, guides, stats, links">More Info</a>
        <a href="/donations.php">Donate</a>
    </div>
</div>