<div class="content-bare content-board-header content-title-header">
    <div class="pageTitle barAlt1">
        {{title}}
    </div>
    <div class="pageDescription">
        {{description}}
    </div>
</div>