<div class="gameTimeRemaining">
    {% if game.phase.isFinished %}
        <span class="gameTimeRemainingNextPhase">Finished:</span>
        {% if displayTimeAsText %}{{ game.processing.getTimeAsText|raw }}{% endif %}
    {% elseif game.processing.isPaused %}
        Paused <img src="/images/icons/pause.png" title="Game paused" />
        {% if displayTimeAsText %}({{ game.processing.getPauseTimeRemainingAsText }} left on unpause){% endif %}
    {% elseif game.processing.isCrashed %}
        Crashed
    {% else %}
        {% if game.phase.isPreGame %}
            <span class="gameTimeRemainingNextPhase">Start:</span>
        {% else %}
            <span class="gameTimeRemainingNextPhase">Next:</span>
        {% endif %}
        {{ game.processing.timeRemainingAsText|raw }}
        {% if displayTimeAsText %}({{ game.processing.getTimeAsText()|raw }}){% endif %}
    {% endif %}
</div>