<a id="chatboxanchor"></a>
<a id="chatbox"></a>

{{ tabs|raw }}

<div class="chatWrapper">
    {{ memberNames|raw }}

    <div id="chatboxscroll" class="chatbox">
        <table class="chatbox">
            {% if messages|length <= 0 %}
                <tr class="barAlt1">
                    <td class="notice">No messages yet posted.</td>
                </tr>
            {% else %}
                {{ messages|raw }}
            {% endif %}
        </table>
    </div>
</div>
{{ form|raw }}

<script>
$(window).on("load", function() {
    let cbs = $('#chatboxscroll');
    cbs.scrollTop(cbs.prop("scrollHeight"));
    // Don't focus the chatbox if the user is entering orders
    {% if app.request.countryId %}
    let sb = $('#sendbox');
    if (sb != null && sb) { sb.focus(); }
    {% endif %}
});
</script>
